<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>Everything will be fine</h1>
    </header>
    <div class="main">
        @RenderBody()
    </div>
</body>
</html>
